{% extends 'layouts/default.html' %}

{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Profile' %}
{% endblock %}

{% block content %}
  <h1 class="title is-2">{% trans 'Your articles' %}</h1>

  {% if articles_page_obj %}
    {% for article in articles_page_obj %}
      <div class="my-4">
        <h2 class="is-size-5">
          <a href="{% url 'articles.edit' id=article.pk %}" class="mr-1 is-size-6 has-text-warning-dark">
            <span class="icon"><i class="fas fa-pencil"></i></span>
          </a>
          <a href="{% url 'articles.view.preview' id=article.pk %}">{{ article.title }}</a>
        </h2>

        <div class="my-2">
          {% include 'articles/components/details.html' with show_category=True %}
        </div>
      </div>
    {% endfor %}

    {% include 'components/pagination.html' with page_obj=articles_page_obj %}
  {% else %}
    <p>{% trans 'No articles found.' %}</p>
  {% endif %}
{% endblock %}