{% extends 'layouts/default.html' %}

{% load static %}
{% load i18n %}
{% load article_extras %}

{% block title %}
  {% trans 'Article images' %}
{% endblock %}

{% block content %}
  <h1 class="title is-2">{% trans 'Article images' %}</h1>

  <div class="tile is-ancestor">
    <div class="tile is-parent is-6">
      <div class="tile is-child is-vertical notification is-light">
        {% include 'articles/upload_image_form.html' with form=form %}
      </div>
    </div>
  </div>

  <div class="field my-4">
      <div class="control">
        <label>
          <input type="text" name="search" class="input" placeholder="{% trans 'Search' %}"
                 hx-trigger="keyup changed delay:500ms, search"
                 hx-get="{% url 'articles.profile.images.list' %}"
                 hx-target=".images"
          >
        </label>
      </div>
    </div>

  <div class="images has-htmx-pagination"
      hx-get="{% url 'articles.profile.images.list' %}"
      hx-trigger="load, newImage from:body">
  </div>
{% endblock %}