{% load cache %}
{% load i18n %}

{% if page_obj %}
  {% for article in page_obj %}
    <div class="my-4">
      <h2 class="is-size-5">
        <a href="{% url 'articles:preview' pk=article.pk %}">{{ article.title }}</a>
      </h2>

      <div class="my-2">
        {% cache 300 article_details article.id %}
          {% include 'articles/components/details.html' with show_category=True %}
        {% endcache %}
      </div>

      <div class="my-2 field is-grouped">
        <div class="control">
          <a href="{% url 'articles:edit' pk=article.pk %}" class="button is-small is-rounded is-warning">
            {% trans 'Edit' %}
          </a>
        </div>

        <div class="control">
          {% if not article.publish %}
            <button href="{% url 'articles:edit' pk=article.pk %}" class="button is-small is-rounded is-info"
                    hx-post="{% url 'articles:publish' pk=article.pk %}?publish=1"
                    hx-target="closest .articles">
              {% trans 'Publish' %}
            </button>
          {% else %}
            <button href="{% url 'articles:edit' pk=article.pk %}" class="button is-small is-rounded is-info"
                    hx-post="{% url 'articles:publish' pk=article.pk %}?publish=0"
                    hx-target="closest .articles">
              {% trans 'Hide' %}
            </button>
          {% endif %}
        </div>

        <div class="control">
          <button href="{% url 'articles:edit' pk=article.pk %}" class="button is-small is-rounded is-danger"
                  hx-get="{% url 'articles:delete.confirm' pk=article.pk %}"
                  hx-target="closest .articles" hx-swap="beforeend">
            {% trans 'Delete' %}
          </button>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="my-5">
    {% include 'components/htmx_pagination.html' with page_obj=page_obj url='articles:profile.articles.list' %}
  </div>
{% else %}
  <p>{% trans 'No articles found.' %}</p>
{% endif %}