{% load i18n %}

<div class="modal is-active opacity-0"
     _="on load transition my opacity to 1 over 100ms
        on closeModal transition my opacity to 0 over 200ms then remove me">
  <div class="modal-background" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <div class="box is-size-5">
      <div class="mb-4">{% trans 'Are you sure want to delete this article?' %}</div>
      <h2 class="title is-3">{{ article.title }}</h2>
      <hr>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger"
                  hx-delete="{% url 'articles.articles.delete' id=article.pk %}"
                  hx-target="closest .articles">
            {% trans 'Delete' %}
          </button>
        </div>
        <div class="control">
          <button class="button is-light" _="on click trigger closeModal">
            {% trans 'Cancel' %}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>