{% load i18n %}
{% load article_extras %}

<div class="card is-fullheight">
  {% if image.user.pk == user.pk %}
    <button class="delete" title="{% trans 'Delete' %}"
            hx-get="{% url 'articles.images.delete.confirm' id=image.pk %}?mode={{ mode }}"
            hx-target="closest .images" hx-swap="beforeend"></button>
  {% endif %}
  <div class="card-image is-clickable" title="{% trans 'Click to copy image URL' %}"
       _="on click
              throttled at 1s
              set text to `![{{ image.title }}]({{ image.image.url }})`
              js(text)
                  if ('clipboard' in window.navigator) {
                     navigator.clipboard.writeText(text)
                  }
              end
              then send imageCopied to the first <div.copied/> in me">
    <div class="copied"
         _="on imageCopied transition my opacity to 1 over 200ms then wait 600ms then transition my opacity to 0 over 200ms">
      <div>{% trans 'URL copied' %}</div>
    </div>
    <figure class="image is-4by3 has-background-light has-background-image"
            style="background: url('{{ image.image.url }}');">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <div class="title is-6 mb-2">{{ image.title }}</div>
      <div class="is-size-7">
        {{ image.image.size|filesize:'kb' }} {% trans 'Kb' %},
        {% trans 'uploaded at' %} {{ image.created_at }}
      </div>
    </div>
  </div>
</div>