<div class="sidebar is-minimized is-flex is-flex-direction-row">
  <div id="sidebar-toggler" class="sidebar-toggler button m-4 is-outlined">
    <i class="fas fa-long-arrow-right"></i>
  </div>
  <div class="sidebar-content box has-background-white">
    <div class="notification is-light">
      {% include 'articles/upload_image_form.html' with form=form %}
    </div>
    <div class="field mb-5">
      <div class="control">
        <label>
          <input type="text" name="search" class="input" placeholder="Search">
        </label>
      </div>
    </div>
    <div class="columns is-multiline">
      {% for image in images %}
        <div class="column is-half">
          {% include 'articles/image_card.html' with image=image %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const sidebarToggler = document.getElementById('sidebar-toggler');

  sidebarToggler.addEventListener('click', () => {
    const sidebar = sidebarToggler.closest('.sidebar');
    sidebar.classList.toggle('is-minimized');
  });

  const cardImages = document.querySelectorAll('.card-image');

  cardImages.forEach((cardImage) => {
    cardImage.addEventListener('click', (event) => {
      const title = cardImage.dataset.imageTitle;
      const url = cardImage.dataset.imageUrl;
      const copied = cardImage.parentElement.querySelector('.copied');
      const imageMarkdown = `![${title}](${url})`;
      navigator.clipboard.writeText(imageMarkdown);
      copied.classList.add('fade-in-and-out');
      setTimeout(() => {
        copied.classList.remove('fade-in-and-out');
      }, 1000);
    });
  });
</script>