{% load i18n %}

<div class="sidebar is-minimized is-flex is-flex-direction-row">
  <div id="sidebar-toggler" class="sidebar-toggler button m-4 is-outlined">
    <i class="fas fa-long-arrow-right"></i>
  </div>

  <div class="sidebar-content box has-background-white">
    <div class="notification is-light">
      {% include 'articles/upload_image_form.html' with form=upload_image_form %}
    </div>

    <div class="field my-4">
      <div class="control">
        <label>
          <input type="search" name="search" class="input" placeholder="{% trans 'Search' %}"
                 hx-trigger="keyup changed delay:500ms, search"
                 hx-get="{% url 'articles.sidebar.images.list' %}"
                 hx-target=".images">
        </label>
      </div>
    </div>

    <div class="images columns is-multiline"
         hx-get="{% url 'articles.sidebar.images.list' %}" hx-trigger="load, newImage from:body">
    </div>
  </div>
</div>

<script>
  const sidebarToggler = document.getElementById('sidebar-toggler');
  const imageClickListener = function (event) {
    let cardImage = event.target.closest('.card-image');
    const title = cardImage.dataset.imageTitle;
    const url = cardImage.dataset.imageUrl;
    const copied = cardImage.parentElement.querySelector('.copied');
    const imageMarkdown = `![${title}](${url})`;
    navigator.clipboard.writeText(imageMarkdown);
    copied.classList.add('fade-in-and-out');
    setTimeout(() => {
      copied.classList.remove('fade-in-and-out');
    }, 1500);
  };

  sidebarToggler.addEventListener('click', () => {
    const sidebar = sidebarToggler.closest('.sidebar');

    sidebar.classList.toggle('is-minimized');
  });

  document.addEventListener('htmx:afterRequest', function (event) {
    let cardImages = document.querySelectorAll('.card-image');

    cardImages.forEach((cardImage) => {
      cardImage.removeEventListener('click', imageClickListener);
      cardImage.addEventListener('click', imageClickListener);
    });
  });
</script>