{% load static %}
{% load i18n %}

<div class="sidebar is-minimized is-flex is-flex-direction-row">
  <div id="sidebar-toggler" class="sidebar-toggler button m-4 is-outlined">
    <i class="fas fa-long-arrow-right"></i>
  </div>

  <div class="sidebar-content box has-background-white">
    <div class="tile is-child is-vertical notification is-light"
         hx-get="{% url 'articles.profile.images.form' %}"
         hx-trigger="load"></div>

    {% include 'articles/components/sidebar_images_search.html' %}

    <div class="images columns is-multiline"
         hx-get="{% url 'articles.sidebar.images.list' %}" hx-trigger="load, newImage from:body">
    </div>
  </div>
</div>

<script src="{% static 'articles/images.js' %}"></script>
<script>
  const sidebarToggler = document.getElementById('sidebar-toggler');

  sidebarToggler.addEventListener('click', () => {
    const sidebar = sidebarToggler.closest('.sidebar');

    sidebar.classList.toggle('is-minimized');
  });
</script>