{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if messages %}
  <div class="notification is-success">
    <div class="delete"></div>
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

{% if form.non_field_errors %}
  <div class="notification is-danger">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="field">
    {% if field.field.widget.input_type == 'checkbox' %}
      <div class="control">
        <label class="checkbox">
          {% render_field field class='mr-1' %}
          {{ field.label }}
        </label>
      </div>
    {% elif field.field.widget.input_type == 'radio' %}
      <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      <div class="control">
        {% for choice in field.field.widget.choices %}
          <label class="radio">
            <input type="radio" name="{{ field.name }}" value="{{ choice.0 }}" {% if choice.0 == field.value %}checked{% endif %}>
            {{ choice.1 }}
          </label>
        {% endfor %}
      </div>
    {% else %}
      <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      <div class="control">
        {% if field.errors %}
          {% render_field field class+='is-danger' %}
        {% else %}
          {% render_field field %}
        {% endif %}
      </div>
    {% endif %}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {% for error in field.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  </div>
{% endfor %}

<div class="field">
  <div class="control">
    <button class="button is-primary icon-text">
      {% if icon %}
        <span class="icon"><i class="{{ icon }}"></i></span>
      {% endif %}
      <span>{{ submit }}</span>
    </button>
  </div>
</div>

<script>
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
</script>