{% load article_extras %}

{% if page_obj.paginator.num_pages > 1 %}
  <nav class="pagination" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
      <a hx-get="{% url 'articles.profile.images.list' %}{% page_link page_obj.previous_page_number %}"
         hx-target="closest .has-htmx-pagination" hx-swap="innerHTML"
         class="pagination-previous">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a hx-get="{% url 'articles.profile.images.list' %}{% page_link page_obj.next_page_number %}"
         hx-target="closest .has-htmx-pagination" hx-swap="innerHTML"
         class="pagination-next">Next page</a>
    {% endif %}
    <ul class="pagination-list">
      {% for i in page_obj.paginator.page_range %}
        <li>
          <a hx-get="{% url 'articles.profile.images.list' %}{% page_link i %}"
             hx-target="closest .has-htmx-pagination" hx-swap="innerHTML"
             class="pagination-link {% if i == page_obj.number %}is-current{% endif %}">{{ i }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}