{% load article_extras %}

{% if page_obj.paginator.num_pages > 1 %}
  <nav class="pagination mt-6" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
      <a href="{% page_link page_obj.previous_page_number %}"
         class="pagination-previous">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="{% page_link page_obj.next_page_number %}"
         class="pagination-next">Next page</a>
    {% endif %}
    <ul class="pagination-list">
      {% for i in page_obj.paginator.page_range %}
        <li>
          <a href="{% page_link i %}"
             class="pagination-link {% if i == page_obj.number %}is-current{% endif %}"
             aria-label="Goto page 1" aria-current="page">{{ i }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}