<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load i18n %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% trans 'Biology' %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik Moonrocks">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter">
  <link href="{% static 'fontawesome-free-6.3.0-web/css/all.css' %}" rel="stylesheet">
  <link href="{% static 'style.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="fullheight-wrapper">
  <nav class="navbar is-light">
    <div class="container">
      <div class="navbar-brand">
        <a href="{% url 'articles.index' %}" class="navbar-item is-size-4 is-unselectable">
          learnbio.ru
        </a>
        <div class="navbar-burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-primary">
              <span class="icon"><i class="fas fa-plus"></i></span>
              <span>{% trans 'New article' %}</span>
            </a>
          </div>

          {% if user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
              <span class="navbar-link">
                {{ user.first_name }}
              </span>
              <div class="navbar-dropdown is-boxed is-right">
                <a class="navbar-item" href="{% url 'articles.profile' %}">
                  {% trans 'Profile' %}
                </a>
                <a class="navbar-item" href="{% url 'articles.profile.images' %}">
                  {% trans 'Images' %}
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="{% url 'logout' %}">
                  {% trans 'Logout' %}
                </a>
              </div>
            </div>
          {% else %}
            <a class="navbar-item" href="{% url 'login' %}">
              <span class="icon"><i class="fas fa-right-to-bracket"></i></span>
              <span>{% trans 'Login' %}</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <section class="section is-fullheight">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>
</div>

<footer class="footer is-flex-align-items-flex-end mt-auto">
  <div class="container">
    <div class="content has-text-right">
      <p>
        <a href="{% url 'feedback.create' %}">{% trans 'Feedback' %}</a>
      </p>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>
</body>
</html>