{% load i18n %}
{% load article_extras %}

<div class="card is-fullheight">
  <button class="delete" title="{% trans 'Delete' %}"
          hx-delete="{% url delete_url id=image.pk %}"
          hx-target="closest .images"></button>
  <div class="card-image is-clickable" title="{% trans 'Click to copy image URL' %}"
       data-image-url="{{ image.image.url }}" data-image-title="{{ image.title }}">
    <div class="copied">{% trans 'URL copied' %}</div>
    <figure class="image is-4by3 has-background-light has-background-image"
            style="background: url('{{ image.image.url }}');">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <div class="title is-6 mb-2">{{ image.title }}</div>
      <div class="is-size-7">
        {{ image.image.size|filesize:'kb' }} {% trans 'Kb' %},
        {% trans 'uploaded at' %} {{ image.created_at }}
      </div>
    </div>
  </div>
</div>