{% load i18n %}

{% if images_page_obj %}
  <div class="columns is-multiline">
    {% for image in images_page_obj %}
      <div class="column is-one-quarter">
        {% include 'articles/image_card.html' with image=image %}
      </div>
    {% endfor %}
  </div>

  {% include 'components/htmx_pagination.html' with page_obj=images_page_obj %}
{% else %}
  <p>{% trans 'No images found.' %}</p>
{% endif %}

<script>
  const cardImages = document.querySelectorAll('.card-image');

  cardImages.forEach((cardImage) => {
    cardImage.addEventListener('click', (event) => {
      const title = cardImage.dataset.imageTitle;
      const url = cardImage.dataset.imageUrl;
      const copied = cardImage.parentElement.querySelector('.copied');
      const imageMarkdown = `![${title}](${url})`;
      navigator.clipboard.writeText(imageMarkdown);
      copied.classList.add('fade-in-and-out');
      setTimeout(() => {
        copied.classList.remove('fade-in-and-out');
      }, 1000);
    });
  });
</script>