{% extends 'layouts/default.html' %}

{% load static %}
{% load i18n %}
{% load cache %}
{% load article_extras %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
  <div class="columns is-variable is-2-mobile is-4-desktop">
    <div class="column is-narrow is-one-quarter">
      {% cache 300 article_menu article.id %}
        {% include 'articles/components/menu.html' with article=article %}
      {% endcache %}
    </div>

    <div class="column">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="{% url 'articles:profile.articles' %}">{% trans 'Your articles' %}</a></li>
          {% for breadcrumb in breadcrumbs %}
            <li><a href="{% url 'articles:category' id=breadcrumb.id %}">{{ breadcrumb.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      {% if messages %}
        <div class="notification is-success">
          <div class="delete"></div>
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <h1 class="title is-2">
        {% if article.user.id == user.id %}
          <a href="{% url 'articles:edit' id=article.pk %}" class="mr-4 is-size-3 has-text-warning-dark">
            <span class="icon"><i class="fas fa-pencil"></i></span>
          </a>
        {% endif %}
        <span>{{ article.title }}</span>
      </h1>

      {% cache 300 article_details article.id %}
        {% include 'articles/components/details.html' %}
      {% endcache %}

      <aside class="menu my-6">
        <p class="menu-label">
          {% trans 'Content' %}
        </p>
        <ul class="menu-list article-content is-primary mb-6"></ul>
      </aside>

      <div class="content has-text-justified">
        {{ article.content_html|safe }}
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const h2Items = document.querySelectorAll('div.content h2');
      const menu = document.querySelector('ul.menu-list.article-content');
      const articleImages = document.querySelectorAll('div.content img');

      h2Items.forEach((titleItem, index) => {
        let id = index + 1
        titleItem.setAttribute('id', 'link' + id);
        let html = '<li><a href="#link' + id + '"><span class="dashed">' + titleItem.textContent + '</span></a></li>';
        menu.insertAdjacentHTML('beforeend', html)
      });

      articleImages.forEach((image) => {
        let html = '<div class="is-size-7 has-text-grey">' + image.getAttribute('alt') + '</div>';
        image.insertAdjacentHTML('afterend', html);
      });
    });
  </script>
{% endblock %}