{% extends 'layouts/default.html' %}

{% load static %}
{% load i18n %}
{% load article_extras %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
  <div class="columns is-variable is-2-mobile is-4-desktop">
    <div class="column is-narrow is-one-quarter">
      <aside class="menu">
        {% for main_category in main_categories %}
          {% if main_category.sub_categories.count %}
            <p class="menu-label" data-target="category{{ main_category.id }}">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-chevron-right {% if main_category.id == current_main_category.id %}fa-rotate-90{% endif %}"></i>
                </span>
                <span>{{ main_category.title }}</span>
              </span>
            </p>

            <ul class="menu-list ml-4 {% if main_category.id != current_main_category.id %}is-hidden{% endif %}" id="category{{ main_category.id }}">
              {% for sub_category in main_category.sub_categories.all %}
                <li>
                  <a href="{% url 'articles.category' id=sub_category.id %}">{{ sub_category.title }}</a>

                  {% if sub_category.articles.count %}
                    <ul>
                      {% for sub_category_article in sub_category.articles.all %}
                        <li>
                          <a {% if sub_category_article.id == article.id %}class="is-active"{% endif %}
                             href="{% url 'articles.view' slug=sub_category_article.slug %}">
                            {{ sub_category_article.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="menu-label">
              <span class="icon-text">
                <span class="icon"></span>
                <span>{{ main_category.title }}</span>
              </span>
            </p>
          {% endif %}
        {% endfor %}
      </aside>
    </div>

    <div class="column">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          {% for breadcrumb in breadcrumbs %}
            <li><a href="{% url 'articles.category' id=breadcrumb.id %}">{{ breadcrumb.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <h1 class="title is-2">{{ article.title }}</h1>

      <div class="icon-text mb-6 is-size-7-desktop">
        <span class="icon"><i class="fas fa-graduation-cap has-text-grey-light"></i></span>
        <span>{{ article.get_level_display }}</span>
        <span class="icon ml-4"><i class="fas fa-clock has-text-grey-light"></i></span>
        <span>{{ article.content_reading_time_minutes }}
          {% trans 'minute,minutes,minutes' as minutes_options %}
          {{ article.content_reading_time_minutes|ru_plural:minutes_options }}</span>
        <span class="icon ml-4"><i class="fas fa-eye has-text-grey-light"></i></span>
        <span>{{ article.views }}
          {% trans 'view,views,views' as views_options %}
          {{ article.views|ru_plural:views_options }}</span>
      </div>

      <aside class="menu">
        <p class="menu-label">
          {% trans 'Content' %}
        </p>
        <ul class="menu-list article-content is-primary mb-6"></ul>
      </aside>

      <div class="content has-text-justified">
        {{ article.content_html|safe }}
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const menuLabels = document.querySelectorAll('.menu-label');
      const h2Items = document.querySelectorAll('div.content h2');
      const menu = document.querySelector('ul.menu-list.article-content');
      const articleImages = document.querySelectorAll('div.content img');

      menuLabels.forEach(menuLabel => {
        menuLabel.addEventListener('click', () => {
          const target = document.getElementById(menuLabel.dataset.target);
          target.classList.toggle('is-hidden');
          menuLabel.querySelectorAll(':scope i.fas').forEach((icon) => {
            icon.classList.toggle('fa-rotate-90');
          });
        });
      });

      h2Items.forEach((titleItem, index) => {
        let id = index + 1
        titleItem.setAttribute('id', 'link' + id);
        let html = '<li><a href="#link' + id + '"><span class="dashed">' + titleItem.textContent + '</span></a></li>';
        menu.insertAdjacentHTML('beforeend', html)
      });

      articleImages.forEach((image) => {
        let html = '<div class="is-size-7 has-text-grey">' + image.getAttribute('alt') + '</div>';
        image.insertAdjacentHTML('afterend', html);
      });
    });
  </script>
{% endblock %}