html, body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  font-family: "Rubik Moonrocks", sans-serif;
}

h1, .content h2, .content h3, .title {
  font-family: "Bitter", sans-serif;
  color: darkslategrey;
}

.navbar.is-primary, .hero.is-primary {
  background: linear-gradient(
      rgba(0, 30, 0, 0.4),
      rgba(10, 20, 10, 0.6)
  ), url("hero.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-label {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dashed {
  border-bottom: 1px dashed #999999;
}

.hand {
  cursor: pointer;
}